header{
    color: #fff;
    background-color: rgba(80, 7, 5, 0.5);
    width: 200px;
    height: 50px;
    padding-left: 15px; 
    border-radius: 5px;
    margin: 4px;
    border: solid 1px  rgba(80, 7, 5, 0.5);
}
b{
    color: darkred;
    font-size: x-large   
}
a:hover{
    color: #c51d0a;
}
a:visited{
    color: #042f10;
}
#myinfo{
    color: darkred;
    font-size: large;
    text-shadow: 0px 3px 4px rgb(98, 48, 48);
}
.skillexperience{
    color: red;
    font-size: x-large;
    text-decoration: underline;
    text-shadow: 10px 5px 5px rgb(98, 48, 48);
}
.list{
    text-shadow: -4px 4px 4px gray;
} 

img{
     width:300px;
     height:400px;
     border-radius: 150px;
     border-top: 2px dashed rgb(132, 1, 1);
     border-right: 2px dashed  rgb(132, 1, 1);
     border-bottom: 2px solid rgb(88, 6, 6);
     border-left: 2px solid rgb(88, 6, 6);
}



