body{
     background: #dedcec;
}
header{
    color: rgb(173, 173, 223);
    display:flex;
    background: #0f0356;
    justify-content: center; 
}
section{
     display: flex;
}
.foto img{
    height: auto;
    width: 100%; 
    object-fit: cover;
}
.buy{
    color: blue;
    display:flex;
    margin: 10px;
    padding: 5px;
}